*
{
    margin: 0 auto;
    box-sizing: border-box; 
}


h1
{
    font-size: 80px;
    font-family: 'Shantell Sans', cursive;
    color: blue;
}

input
{
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 25px;
}

.main
{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

p, .output
{
    font-size: 25px;
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
}

.output
{
    display: block;
    border: 2px black solid;
    width: 800px;
    min-height: 40px;
    overflow-wrap: break-word;
}