*
{
    box-sizing: border-box; 
}

input 
{
    display: block;
    margin-bottom: 10px;   
}

#submit
{
    margin-top: 20px;
    background-color: blue;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

